@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
:root {
    --azul: #3399cc;
    --azul-claro: #b1f4ff;
    --azul-escuro: #333366;
    --laranja: #ff6633;
    --branco: #fff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans 3", sans-serif;
    text-decoration: none;
}
.btn {
    padding: 5px 30px;
    border-radius: 20px;
}
.btn-style {
    background: var(--laranja);
    color: var(--branco);
}
/* HEADER */

header {
    padding-inline: 16px;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    height: 120px;
    margin-inline: auto;
}
header nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}
header nav ul li a {
    padding-block: 16px;
    font-weight: 450;
    color: var(--azul);
}

/* END HEADER */

/* MAIN  */

main {
    padding-inline: 16px;
}
main section {
    display: flex;
    max-width: 1280px;
    margin-inline: auto;
    align-items: center;
    justify-content: center;
}
main section article {
    flex-basis: 40%;
}
main section article h1 {
    font-size: 7rem;
    font-weight: 350;
    line-height: 90px;
    margin-top: -30px;
    margin-bottom: 5px;
    color: var(--azul-escuro);
}
main section article h2 {
    font-size: 2.4rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom: 10px;
    color: var(--azul);
}
main section article p {
    max-width: 400px;
    margin-bottom: 20px;
    color: var(--azul);
}
main section figcaption {
    flex-basis: 60%;
    display: flex;
    justify-content: center;
}
main section figcaption img {
    width: 700px;
}

/* END MAIN */

/* FOOTER */

footer {
    padding-inline: 16px;
}
footer div {
    display: flex;
    justify-content: start;
    align-items: center;
    max-width: 1280px;
    margin-inline: auto;
}
footer div ul {
    display: flex;
    list-style: none;
    gap: 20px;
}
footer div ul a i {
    font-size: 2rem;
    color: var(--azul-escuro);
}